body {
	font-family: garamond;
	background-color: #008000;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1.2em;
}

.filler {
	height: 10px;
}

header {
	background-color: #71F73B;
	padding: 10px;
	text-align: center;
	color: darkred;
}

#main-content {
	background-color: yellowgreen;
	max-width: 500px;
	padding: 10px;
	height: 100%;
	width: 50%;
	margin: auto;
	transform: translate(100px, 0px);
	/*transform: translate(0px, 100px);*/
	/*transform: rotate(45deg);*/
	/*transform: scale(0.75);*/
	/*transform: skewX(10deg);*/
	/*transform: skewY(10deg);*/
}

#footer {
	background-color: #71F73B;
	text-align: center;
	padding: 10px;
}